<div class="container">
  <div class="row">
<form #addform="ngForm" (ngSubmit)="addForm(addform)">
  <div class="form-group">
    <label for="description">Description:</label>
    <input type="text" class="form-control" name="gov" id="description" [(ngModel)]="pickup.governorate">
  </div>
  <div class="form-group">
    <label for="price">Price:</label>
    <input type="text" class="form-control" name="city" id="price" [(ngModel)]="pickup.city">
  </div>
  <br>
  <button type="submit" class="btn btn-primary">Add Product</button>
</form>
</div>
</div>
